$body-bg: #f3f3f0;

$primary: #116466;
$secondary: #d9b08c;
$third: #FFCB9A;
$danger: #DC3545;
$success: #28A745;
$warning: #FFC107;
$info: rgb(76, 202, 221);
$light: #D1E8E2;
$dark: #2c3531;
$white: #FFFFFF;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: rgba(243, 243, 6, 0.924);
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
"blue": $blue,
"indigo": $indigo,
"purple": $purple,
"pink": $pink,
"red": $red,
"orange": $orange,
"yellow": $yellow,
"green": $green,
"teal": $teal,
"cyan": $cyan,
"white": $white,
"gray": $gray,
"gray-dark": $gray-dark
) !default;